@media only screen and (max-width: 600px) {
  /* ja ekrans ir mazaks par 600px */
}


.small {
  zoom: 80%
}

/* animacija */
.animated-button::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 2px;
  background-color: white;
  transition: width 0.3s ease-in-out;
}

/* profila bildi padara apalu */
.img-fluid.rounded-circle {
  border-radius: 50%;
}

.animated-button:hover::before {
  width: 100%;
}

body {
  background: #E6E6E6;
}

body {
  font-family: Cascadia Code, monospace;
}

.correct { /* parada zalu tekstu, ja atbilde ir pareiza */
	color: green;
}

.incorrect { /* parada sarkanu tekstu, ja atbilde ir nepareiza */
	color: red;
}

.missing { /* parada dzeltenu tekstu, ja atbilde pietrukst semikola */
	color: orange;
}

#sourceinfo {
  text-align: center;
  font-size: 12px;
  color: #B7b7b8;
}

@keyframes shake { /* Teksta ievades lauku pakrata, ja atbilde ir nepareiza */
  0% { transform: translateX(0); }
  25% { transform: translateX(-10px); }
  50% { transform: translateX(10px); }
  75% { transform: translateX(-10px); }
  100% { transform: translateX(0); }
}

.shake {
  animation: shake 0.40s;
}

.animated-button { /* zala atbildes parbaudes poga, kam ir balta animeta linija kad ar peli uzbrauc */
  background-color: #4c6daf; 
  border: none; 
  color: white; 
  padding: 12px 24px; 
  font-size: 16px; 
  cursor: pointer; 
  position: relative;
}

/* Define the animation */
.animated-button::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 3px;
  background-color: white;
  transition: width 0.3s ease-in-out;
}

.btn-jump:hover {
  animation: jump 0.4s;
}

@keyframes jump {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

